<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/login-style.css">

    <title>ecu-Learning - Edicióno de Perfil</title>
  </head>
  <body style="background-color: #dbe9ff;" onload="showProfileData()">
    {% include 'navbar.html' %}
    <div class="text-center">
      <div class="container-fluid pt-5 center bg-light border mt-2"  style="width: 500px; height: 830px;">
        <div class="border-bottom">
        <h2>Rellena los campos que quieras cambiar</h2>

        <form onreset="updateProfile()">
        </div>

          <div id="mensaje_usuario" class="mt-2"></div>

          <label class="mt-5"><b>Nuevo nombre de usuario</b></label> <br>
          <input type="text" class="form-control mt-2" name="username" placeholder="Nombre de usuario"
            id = "username" onchange="checkExistingUser()"> <br>
          
          <div id="mensaje_pass" class="mt-2"></div>

          <div class="mt-3">
          <label><b>Nueva contraseña</b></label> <br>
          <input type="password" class="form-control mt-2" name="password" placeholder="Contraseña"
            id = "password" onkeyup="checkPass()"> 
          </div>

        <div class="mt-3">
          <label><b>Repite la nueva contraseña</b></label> <br>
          <input type="password" class="form-control mt-2" name="password_repeat" placeholder="Repite la contraseña"
            id = "password_repeat" onkeyup="checkPass()"> 
        </div>

        <div id="mensaje_email" class="mt-2"></div>

        <div class="mt-3">
        <label><b>Nuevo correo electrónico</b></label> <br>
        <input type="email" class="form-control mt-2" name="email" placeholder="Correo electrónico"
          id = "email" onchange="checkExistingEmail()"> 
        </div>

        <input type="reset" id="submit" class="btn btn-success mt-3" value="Actualizar datos"/>

        </form>
      </div>

    </div>

  <script>

    // userRole guarda el rol actual. validEmail y validUsername son dos booleanos
    // que se usan en las funciones de comprobación de los campos de correo y nombre de usuario.
    var userRole
    var validEmail;
    var validUsername;

    function showProfileData(){
      var request = new createRequest();
      request.onload = function(){
          if (request.readyState === 4 && request.status === 200){
          response = JSON.parse(request.responseText);
          appendProfileData(response);
          checkRole();
          }
      };
      var url = "/profile/" + sessionStorage.getItem("username");
      request.open("GET", url, false);
      request.setRequestHeader('Content-Type', 'application/json');
      request.send();
    }

    function appendProfileData(response){
        block_of_data = document.getElementById("data_display");

        var usuario = document.getElementById('username');
        usuario.value = response['nombre_usuario'];

        var email = document.getElementById('email');
        email.value = response['email'];
        userRole = response['rol'];
        }

        // Función necesaria para poder usar los métodos HTTP

        function createRequest() {
            var result = null;
            if (window.XMLHttpRequest) { // FireFox, Safari, etc.
                result = new XMLHttpRequest();
            } else if (window.ActiveXObject) { // MSIE
                result = new ActiveXObject("Microsoft.XMLHTTP");
            } else {
                alert("Funcionalidad no soportada por el navegador");
            }
            return result;
        }

        // Función para registrar un usuario. Si es correcto, envía en el cuerpo de la
        // petición un JSON con los datos introducidos, y redirige a la página de inicio
        // de sesión. En otro caso, indica la falta de campos o el error que haya sucedido.

        function updateProfile(){
          if(checkForm()){

            var req = new createRequest();

            req.onload = function() {
              if (req.readyState === 4 && req.status === 200){
                alert('Perfil actualizado correctamente');
                window.location.href = '/profile';
                sessionStorage.setItem("username", document.getElementById('username').value);
              } else {
                alert("¡Ha ocurrido un error inesperado! Vuelve a intentarlo")
              }
            };
              var url = "/profile/"+sessionStorage.getItem("username");
              req.open("PUT", url, false);
              req.setRequestHeader('Content-Type', 'application/json');
              var response = {
                "antiguo_usuario": sessionStorage.getItem('username'),
                "usuario": document.getElementById('username').value,
                "contraseña": document.getElementById('password').value,
                "email": document.getElementById('email').value,
                "rol": userRole
              };
              req.send(JSON.stringify(response));

          } else {
            alert('Debes indicar al menos un campo que actualizar')
          }
        }

        function setRole(role_chosen){
          userRole = role_chosen
        }

        function checkForm(){

          var response = false

          if(document.getElementById('username').value != '' 
             || document.getElementById('complete_name').value != '')
            {
               response = true;

             }

          return response

        }

        function checkExistingEmail(){
          var req = new createRequest();
            req.onload = function() {
              if (req.responseText != 'null'){
                document.getElementById('mensaje_email').style.color = 'red';
                document.getElementById('mensaje_email').innerHTML = 'El email indicado ya está registrado';
                document.getElementById('submit').setAttribute("disabled", true);
              } else {
                document.getElementById('mensaje_email').innerHTML = null;
                document.getElementById('submit').removeAttribute("disabled");
              }    
            };
            if(document.getElementById('email').value != ''){
            var url = '/user/email/' + document.getElementById('email').value;
            req.open("GET", url, false);
            req.send();
            }
        }

        function checkExistingUser(){
          var req = new createRequest();
            req.onload = function() {
              if (req.responseText != 'null'){
                document.getElementById('mensaje_usuario').style.color = 'red';
                document.getElementById('mensaje_usuario').innerHTML = 'El usuario indicado ya está escogido';
                document.getElementById('submit').setAttribute("disabled", true);
              } else {
                document.getElementById('mensaje_usuario').innerHTML = null;
                document.getElementById('submit').removeAttribute("disabled");
              }    
            };
            if(document.getElementById('username').value != ''){
            var url = '/user/username/' + document.getElementById('username').value;
            req.open("GET", url, false);
            req.send();
            }
        }

        function checkPass(){
            var password = document.getElementById("password");
            var password_repeat = document.getElementById("password_repeat")

            if(password.value == '' && password_repeat.value == '') {
              document.getElementById('mensaje_pass').innerHTML = ''
            }else{
              if (password.value == password_repeat.value){
                document.getElementById('mensaje_pass').style.color = 'green';
                document.getElementById('mensaje_pass').innerHTML = 'Las contraseñas coinciden';
              } else if(password.value != password_repeat.value) {
                document.getElementById('mensaje_pass').style.color = 'red';
                document.getElementById('mensaje_pass').innerHTML = 'Las contraseñas no son coincidentes';
              }
            }
        }

        function checkRole(){
        var req = createRequest();
        req.onload = function() {
          if (req.readyState === 4 && req.status === 200){
            if (req.responseText != 'null'){
              rolActual = req.responseText;
              setDisabledLinkMenu(rolActual);
            } else {
              alert('Ha ocurrido un error grave. Vuelve a iniciar sesión');
              logout();
            }  
          }
        };
        var url = "/user/role/" + sessionStorage.getItem("username");
        req.open("GET", url, false);
        req.setRequestHeader('Content-Type', 'application/json');
        req.send()
      }

      function setDisabledLinkMenu(rolActual){
        if(rolActual === '"alumno"'){
          document.getElementById('published_problems').setAttribute('hidden',true);
          document.getElementById('professor_col').setAttribute('hidden',true);
          document.getElementById('published_problems').setAttribute('href','#');
        } else if(rolActual == '"profesor"') {
          document.getElementById('solved_problems').setAttribute('hidden',true);
          document.getElementById('student_col').setAttribute('hidden',true);
          document.getElementById('solved_problems').setAttribute('href','#');
        }
      }

      </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>